.Board {
    width: fit-content;
    max-width: 100%;
}

.Content {
    display: grid;
    grid-template: 20px auto / 20px auto 50px;

    margin-bottom: 5px;

    &>span:nth-child(3) {
        width: fit-content;
        max-width: 100%;
    }
}

.Runs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotate(-90deg) scaleX(-100%);
    transform-origin: top left;
    width: 750px;
    height: fit-content
}

.Run {
    padding: 3px;
    position: relative;

    & .Ship {
        width: 25px;
        padding: 1px;
    }
}

.Counts {
    display: grid;
    justify-items: center;
    gap: 1px;

    &.Column p {
        margin: 0;
    }

    & p {
        width: 100%;
        height: 100%;
        text-align: center;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.Ships {
    display: grid;
    position: relative;
    width: fit-content;

    gap: 1px;
    background: var(--border-col);
    border: 1px solid var(--border-col);
}

.Ship {
    pointer-events: none;
    object-fit: contain;
    width: 90%;
    height: auto;
}

.Solved div {
    background: var(--solve-col);
}

.Square {
    background-color: var(--square-col);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1px;

    & div {
        background: var(--ship-col);
        width: 100%;
        height: 100%;

        border-radius: 5%;
    }

    &:hover {
        cursor: pointer;
    }
}

.Solved .Square {
    padding: 0;

    & div {
        border-radius: 0;
    }
}

.desaturated .Ship {
    opacity: .5;
}

.over {
    position: relative;
    flex: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: 'X';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: bold;
        color: var(--x-col);
        pointer-events: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}